/*
---| contact-component
------------------------------
*/
.contact-component {
  width: 100%;
  height: auto;
  min-height: 760px;
  padding: 2rem 0;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  background: var(--secondary);
  padding: 2rem 0;
  box-shadow: -15px 15px var(--primary);
}

.contact-title {
  color: var(--light);
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 5px;
  width: 100%;
  margin-bottom: 2rem;
}

.contact-intro {
  text-align: center;
  word-wrap: break-word;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.form-control, 
.form-select 
{
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--light);
}

.form-control::placeholder,
.form-select::placeholder
{
  color: var(--primary);
}

.form-control:focus,
.form-select:focus
{
  border: 1px solid var(--secondary);
  outline: 0 none;
}

.button-send {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 200px;
  padding: 1rem 0;
}