/*
---| gallery-component
------------------------------
*/
.gallery-component {
  width: 100%;
  height: auto;
  min-height: 760px;
  margin: 3rem 0;
  padding: 2rem 0;
}

.gallery-image {
  cursor: pointer;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}